[paths]
source =
  cwltest
  */site-packages/cwltest
  */cwltest

[run]
branch = True
source_pkgs = cwltest
omit =
  tests/*
  */site-packages/cwltest/tests/*

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    \.\.\.
ignore_errors = True
omit =
  tests/*
  */site-packages/cwltest/tests/*
