include Makefile gittaggers.py test-requirements.txt mypy-requirements.txt requirements.txt tox.ini mypy.ini
include dev-requirements.txt .flake8 .coveragerc release-test.sh
include docs/Makefile docs/conf.py docs/requirements.txt docs/_static/favicon.ico docs/*.rst
include cwltest/*.yml
include tests/*
include tests/test-data/*
include tests/test-data/v1.0/*
recursive-include mypy-stubs *.py?
global-exclude *~
global-exclude *.pyc
