name: Continuous integration tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: build-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:

  tox:
    name: CI tests via Tox

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        # The README.rst file mentions the versions tested, please update it as well
        py-ver-major: [3]
        py-ver-minor: [9, 10, 11, 12, 13, 14]
        step: [lint, unit, mypy, bandit]

    env:
      py-semver: ${{ format('{0}.{1}', matrix.py-ver-major, matrix.py-ver-minor) }}
      TOXENV: ${{ format('py{0}{1}-{2}', matrix.py-ver-major, matrix.py-ver-minor, matrix.step) }}

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.py-semver }}
          allow-prereleases: true
          cache: pip
          cache-dependency-path: |
            requirements.txt
            test-requirements.txt
            mypy-requirements.txt

      - name: Upgrade setuptools and install tox
        run: |
          pip install -U pip setuptools wheel
          pip install "tox>4,<5" "tox-gh-actions>3"

      - name: install dev libraries
        run: sudo apt-get install -y libxml2-dev libxslt-dev

      - name: MyPy cache
        if: ${{ matrix.step == 'mypy' }}
        uses: actions/cache@v4
        with:
          path: .mypy_cache/${{ env.py-semver }}
          key: mypy-${{ env.py-semver }}

      - name: Test with tox
        run: tox

      - name: Upload coverage to Codecov
        if: ${{ matrix.step == 'unit' }}
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

  tox-style:
    name: CI linters via Tox

    runs-on: ubuntu-24.04

    strategy:
      matrix:
        step: [lintreadme, pydocstyle]

    env:
      py-semver: "3.13"
      TOXENV: ${{ format('py313-{0}', matrix.step) }}

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.py-semver }}
          cache: pip
          cache-dependency-path: |
            requirements.txt
            test-requirements.txt
            mypy-requirements.txt

      - name: Upgrade setuptools and install tox
        run: |
          pip install -U pip setuptools wheel
          pip install "tox>4,<5" "tox-gh-actions>3"

      - if: ${{ matrix.step == 'pydocstyle' && github.event_name == 'pull_request'}}
        name: Create local branch for diff-quality for PRs
        run: git branch ${{github.base_ref}} origin/${{github.base_ref}}

      - name: Test with tox
        run: tox

  release_test:
    name: cwltest release test

    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: pip
          cache-dependency-path: |
            requirements.txt
            test-requirements.txt
            mypy-requirements.txt

      - name: Install packages
        run: |
          pip install -U pip setuptools wheel
          pip install virtualenv

      - name: Release test
        env:
          RELEASE_SKIP: head
        run: ./release-test.sh
